@charset "UTF-8";
/* зробити невидимим заголовок */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* щоб прибрати крапки із списка */
ul {
  list-style: none;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  max-width: 480px;
  min-width: 320px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.page-header {
  border-bottom: 1px solid var(--gray-line);
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.page-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* центрувати по вертикалі */
}

@media screen and (max-width: 767px) {
  .page-header__container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .page-header__container {
    max-width: 768px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .page-header__container {
    max-width: 1200px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  color: var(--black);
  font-weight: 700;
  font-size: 26px;
  font-style: normal;
  line-height: 30px;
  letter-spacing: 0.03em;
  margin-top: 16px;
  margin-bottom: 16px;
}

.logo:active, .logo:hover, .logo:focus {
  color: var(--link-color);
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo__web {
  color: var(--blue-text);
}

.navigation-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .navigation-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* центрувати по вертикалі */
  }
}

@media screen and (min-width: 1200px) {
  .navigation-list {
    margin-left: 93px;
  }
}

.navigation-list__item:last-of-type {
  margin-right: 0px;
}

.navigation-list__item {
  margin-right: 50px;
}

.navigation-list__link {
  color: var(--black-text);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list__link:focus, .navigation-list__link:hover {
  color: var(--blue-text);
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.navigation-list__link::after {
  content: "";
  height: 4px;
  width: 100%;
  background-color: #2196f3;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  margin-top: 30px;
  position: absolute;
  bottom: -1px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list__link:hover::after, .navigation-list__link:focus::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.navigation-list .current {
  position: relative;
  color: var(--blue-text);
}

.navigation-list .current::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .contacts-list {
    display: inline-block;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-list {
    margin-left: auto;
    max-width: 1600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contacts-list__item:last-child {
    margin-left: 36px;
  }
}

.contacts-list__link {
  display: block;
  color: var(--gray-text);
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list__link:hover, .contacts-list__link:focus {
  color: var(--blue-text);
}

.contacts-list__icon {
  margin-right: 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  fill: currentColor;
}

.footer {
  background-color: var(--grphite-background);
  padding-bottom: 60px;
  padding-top: 60px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .footer {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    margin-left: auto;
    margin-right: auto;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    max-width: 1600px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer__content {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer__content {
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .footer__tablet-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.logo__footer {
  text-align: center;
}

.logo__web {
  color: var(--blue-text);
}

.logo__studio {
  color: var(--white-text);
}

.logo__studio:active, .logo__studio:hover, .logo__studio:focus {
  color: var(--link-color);
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address {
  min-width: 81px;
  text-align: center;
  margin-top: 20px;
}

@media screen and (min-width: 1200px) {
  .address {
    text-align: left;
  }
}

.address__text {
  color: var(--white-text);
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  letter-spacing: 0.03em;
  line-height: 22px;
  margin: 0px;
}

.address-list__item {
  margin-top: 9px;
}

.address-list__link {
  color: var(--gray-light);
  font-weight: normal;
  font-size: 14px;
  font-style: normal;
  line-height: 22px;
}

.address-list__link:active, .address-list__link:focus, .address-list__link:hover {
  color: var(--link-color);
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .join {
    margin-left: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .join {
    margin-left: 40px;
  }
}

.join__tittle {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text);
  text-align: center;
  margin-top: 60px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .join__tittle {
    margin-top: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .join__tittle {
    text-align: left;
  }
}

.join-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.join-list__link {
  display: block;
  color: var(--white-text);
  width: 44px;
  height: 44px;
  padding: 12px;
  background-color: var(--footer-icon-background);
  border-radius: 50px;
}

.join-list__link:hover, .join-list__link:focus {
  color: white;
  background-color: var(--blue-text);
  border-radius: 50px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-list__item {
  margin-right: 10px;
}

.join-list__item:last-child {
  margin-right: 0px;
}

.join-list__icon {
  fill: currentColor;
}

.subscribe {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .subscribe {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe {
    margin-top: 12px;
    margin-left: 93px;
  }
}

.subscribe__tittle {
  color: var(--white-text);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .subscribe__tittle {
    text-align: left;
    margin-top: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }
}

.subscribe-container__button {
  /* у футері */
}

@media screen and (min-width: 1200px) {
  .subscribe-container__button {
    margin-left: 12px;
  }
}

.mail {
  margin-bottom: 20px;
}

.mail__label {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.03em;
  position: absolute;
  top: 15px;
  left: 16px;
}

.mail__input {
  color: var(--submit-text);
  width: 450px;
  height: 50px;
  padding-left: 16px;
  background-color: transparent;
  border: 1px solid var(--submit-border);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
}

@media screen and (min-width: 1200px) {
  .mail__input {
    width: 358px;
  }
}

.button__icon {
  fill: currentColor;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button {
  /* для всіх голубих кнопок */
  font-family: Roboto;
  color: var(--white-text);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--blue-text);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding: 0px;
  outline: none;
}

.button:hover, .button:focus, .button:active {
  background-color: var(--button-active);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container {
  background-color: var(--white-background);
  padding: 48px 40px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.mobile-menu {
  margin-bottom: 302px;
}

.mobile-menu__item {
  margin-bottom: 32px;
}

.mobile-menu__item:last-child {
  margin-bottom: 0px;
}

.mobile-menu__link {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: var(--black-text);
}

.mobile-menu__link:focus, .mobile-menu__link:hover, .mobile-menu__link:active {
  color: var(--blue-text);
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  outline: none;
}

.mobile-contacts {
  margin-bottom: 62px;
}

.mobile-contacts__item {
  margin-bottom: 32px;
}

.mobile-contacts__item:last-child {
  margin-bottom: 0px;
}

.mobile-contacts__link {
  display: inline-block;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: var(--black-text);
}

.mobile-contacts__link:focus, .mobile-contacts__link:hover, .mobile-contacts__link:active {
  color: var(--blue-text);
  outline: none;
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobile-socials__item {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid var(--social-line);
}

.mobile-socials__item:last-child {
  margin-right: 0px;
}

.mobile-socials__link {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: var(--link-color);
}

.mobile-socials__link:focus, .mobile-socials__link:hover, .mobile-socials__link:active {
  color: var(--link-color);
  outline: none;
}

.menu-toggle {
  display: block;
  margin-left: auto;
  min-width: 40px;
  min-height: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  border: none;
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:focus,
.menu-toggle:hover {
  fill: var(--blue-text);
  outline: none;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-toggle > .menu-toggle__icon:focus,
.menu-toggle > .menu-toggle__icon:hover {
  fill: var(--link-color);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero {
  width: 480px;
  height: 400px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/Header.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/Header_768.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Header_768.jpg");
    width: 768px;
    height: 400px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/Header_1200.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Header_1200.jpg");
    width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  color: var(--white-text);
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 26px;
    line-height: 42px;
    width: 360px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 60px;
    width: 696px;
    text-align: center;
  }
}

.hero__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 250ms ease-in;
  transition: 250ms ease-in;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 609px;
  width: 450px;
  padding: 40px;
  background-color: white;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 1200px) {
  .modal {
    height: 581px;
    width: 528px;
  }
}

.modal__tittle {
  color: var(--black-text);
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  line-height: 23px;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.modal__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 30px;
  height: 30px;
  background: transparent;
}

.btn-close > .btn-close__icon:hover,
.btn-close > .btn-close__icon:focus {
  fill: var(--blue-text);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close:hover,
.btn-close:focus {
  fill: var(--blue-text);
  outline: none;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__item {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.form__label {
  color: var(--modal-text);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.form__input {
  min-height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.form__input:hover, .form__input:focus, .form__input:active {
  border: 1px solid var(--blue-text);
  outline: none;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:hover + .form__icon,
.form__input:focus + .form__icon,
.form__input:active + .form__icon {
  fill: var(--blue-text);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__icon {
  position: absolute;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 12px;
  bottom: 11px;
}

.form__icon:hover, .form__icon:focus, .form__icon:active {
  fill: var(--blue-text);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__coment::-webkit-input-placeholder {
  /* до placeholder можна застосувати тільки оформлення тексту */
  color: rgba(117, 117, 117, 0.5);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}

.form__coment:-ms-input-placeholder {
  /* до placeholder можна застосувати тільки оформлення тексту */
  color: rgba(117, 117, 117, 0.5);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}

.form__coment::-ms-input-placeholder {
  /* до placeholder можна застосувати тільки оформлення тексту */
  color: rgba(117, 117, 117, 0.5);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}

.form__coment::placeholder {
  /* до placeholder можна застосувати тільки оформлення тексту */
  color: rgba(117, 117, 117, 0.5);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}

.form__coment {
  resize: none;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 10px;
}

.form__coment:hover, .form__coment:focus, .form__coment:active {
  border: 1px solid var(--blue-text);
  outline: none;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.agree-container {
  margin-bottom: 30px;
  margin-left: 12px;
  position: relative;
}

.agree-label {
  color: var(--modal-text);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.agree-label__link {
  color: var(--blue-text);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.agree-label__icon {
  border: 2px solid var(--black);
  border-radius: 4px;
  cursor: pointer;
  position: absolute;
  left: 0px;
  top: 2px;
  display: inline-block;
}

.agree-label__checkbox {
  width: 16px;
  height: 14px;
}

.agree-label__checkbox:checked + .agree-label__icon use {
  display: block;
}

.agree-label__checkbox:checked + .agree-label__icon {
  border: none;
}

.agree-label__icon use {
  display: none;
}

.features {
  margin-top: 60px;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .features {
    margin-top: 94px;
    margin-bottom: 94px;
  }
}

.features-list {
  display: block;
}

@media screen and (min-width: 768px) {
  .features-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: calc(-1 * var(--project-gap));
  }
}

.features-list__thumb {
  background-color: var(--button-background);
  padding: 25px 190px;
}

@media screen and (min-width: 768px) {
  .features-list__thumb {
    padding: 25px 142px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .features-list__thumb {
    padding: 25px 100px;
    margin-bottom: 30px;
  }
}

.features-list__title {
  color: var(--black-text);
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 16px;
  letter-spacing: 0.03em;
  padding-bottom: 10px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .features-list__title {
    text-align: left;
  }
}

.features-list__text {
  color: var(--gray-text);
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.features-list__items:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .features-list__items {
    -ms-flex-preferred-size: calc(100% / 2 - var(--project-gap));
        flex-basis: calc(100% / 2 - var(--project-gap));
    margin-left: var(--project-gap);
  }
}

@media screen and (min-width: 1200px) {
  .features-list__items {
    -ms-flex-preferred-size: calc(100% / 4 - var(--project-gap));
        flex-basis: calc(100% / 4 - var(--project-gap));
    margin-left: var(--project-gap);
  }
}

.servises {
  padding-bottom: 94px;
  display: none;
}

@media screen and (min-width: 1200px) {
  .servises {
    display: block;
  }
}

.servises__title {
  color: var(--black-text);
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;
}

.servises-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.servises-list__items {
  margin-right: 30px;
  position: relative;
  z-index: 1;
}

.servises-list__items:last-child {
  margin-right: 0px;
}

.servises-list__image {
  width: 370px;
  height: 294px;
}

.servises-list__text {
  color: var(--white-text);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 70px;
  width: 370px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 27px;
  padding-bottom: 27px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8)));
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));
  position: absolute;
  bottom: 0;
  opacity: 0;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity linear;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity linear;
}

.servises-list__items:hover, .servises-list__text, .servises-list__text:focus {
  opacity: 1;
}

.team {
  background-color: var(--button-background);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .team {
    padding-bottom: 94px;
    padding-top: 94px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
  }
}

.team__title {
  color: var(--black-text);
  font-style: 400;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  margin-top: 0px;
}

@media screen and (min-width: 1200px) {
  .team__title {
    margin-bottom: 50px;
  }
}

.team-list {
  display: block;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: calc(-1 * var(--project-gap));
  }
}

.team-list__thumb {
  height: 460px;
}

@media screen and (min-width: 768px) {
  .team-list__thumb {
    height: 374px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list__thumb {
    height: 260px;
  }
}

.team-list__name {
  color: var(--black-text);
  font-style: 400;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}

.team-list__text {
  color: var(--gray-text);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin-bottom: 30px;
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
}

.team-list__items {
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list__items:not(:last-child) {
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .team-list__items {
    -ms-flex-preferred-size: calc(100% / 2 - var(--project-gap));
        flex-basis: calc(100% / 2 - var(--project-gap));
    margin-left: var(--project-gap);
    margin-top: var(--project-gap);
  }
}

@media screen and (min-width: 1200px) {
  .team-list__items {
    -ms-flex-preferred-size: calc(100% / 4 - var(--project-gap));
        flex-basis: calc(100% / 4 - var(--project-gap));
    margin-left: var(--project-gap);
  }
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 206px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 1200px) {
  .social-list {
    margin-bottom: 30px;
  }
}

.social-list__icon {
  fill: currentColor;
}

.social-list__item {
  margin-top: 16px;
  margin-bottom: 24px;
}

@media screen and (min-width: 1200px) {
  .social-list__item {
    margin-bottom: 30px;
  }
}

.social-list__link {
  display: block;
  color: var(--gray-sprite);
  width: 44px;
  height: 44px;
  padding: 12px;
}

.social-list__link:hover, .social-list__link:focus {
  color: white;
  background-color: var(--blue-text);
  border-radius: 50px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.clients__title {
  color: var(--black-text);
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0px;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .clients__title {
    margin-bottom: 50px;
  }
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: calc(-1 * var(--project-gap));
  margin-top: calc(-1 * var(--project-gap));
}

.clients-list__items {
  -ms-flex-preferred-size: calc(100% / 2 - var(--project-gap));
      flex-basis: calc(100% / 2 - var(--project-gap));
  margin-left: var(--project-gap);
  margin-top: var(--project-gap);
}

@media screen and (min-width: 768px) {
  .clients-list__items {
    -ms-flex-preferred-size: calc(100% / 3 - var(--project-gap));
        flex-basis: calc(100% / 3 - var(--project-gap));
    margin-left: var(--project-gap);
    margin-top: var(--project-gap);
  }
}

@media screen and (min-width: 1200px) {
  .clients-list__items {
    -ms-flex-preferred-size: calc(100% / 6 - var(--project-gap));
        flex-basis: calc(100% / 6 - var(--project-gap));
    margin-left: var(--project-gap);
  }
}

.clients-list__icons {
  fill: currentColor;
}

.clients-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--gray-sprite);
  height: 90px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid var(--gray-border);
  border-radius: 4px;
}

.clients-list__link:hover, .clients-list__link:focus {
  color: var(--blue-text);
  border-color: var(--blue-text);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-conteiner {
  padding-top: 60px;
}

@media screen and (min-width: 1200px) {
  .main-conteiner {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.list-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 25px;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

@media screen and (min-width: 768px) {
  .list-btn {
    margin-bottom: 15px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .list-btn {
    margin-bottom: 35px;
  }
}

.list-btn__item {
  margin-right: 8px;
  margin-bottom: 15px;
}

.list-btn__button {
  background-color: var(--button-background);
  color: var(--black-text);
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  padding: 6px 22px;
  border-radius: 4px;
  border: transparent;
}

.list-btn__button:active, .list-btn__button:focus, .list-btn__button:hover {
  outline: none;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-list {
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .project-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: calc(-1 * var(--project-gap));
    margin-left: calc(-1 * var(--project-gap));
  }
}

@media screen and (min-width: 1200px) {
  .project-list {
    padding-bottom: 0px;
  }
}

.project-item {
  margin-top: 30px;
  background: var(--white-background);
}

@media screen and (min-width: 768px) {
  .project-item {
    /* project-gap = 30px в списку перемінних */
    -ms-flex-preferred-size: calc(100% / 2 - var(--project-gap));
        flex-basis: calc(100% / 2 - var(--project-gap));
    margin-left: var(--project-gap);
    margin-top: var(--project-gap);
  }
}

@media screen and (min-width: 1200px) {
  .project-item {
    /* project-gap = 30px в списку перемінних */
    -ms-flex-preferred-size: calc(100% / 3 - var(--project-gap));
        flex-basis: calc(100% / 3 - var(--project-gap));
    margin-left: var(--project-gap);
    margin-top: var(--project-gap);
  }
}

.project-item__thumb {
  position: relative;
  overflow: hidden;
  height: 294px;
}

.project-item__link:hover, .project-item__link:focus {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-item__content {
  padding: 20px 24px 19px 24px;
  border-left: 1px solid var(--white-border);
  border-right: 1px solid var(--white-border);
  border-bottom: 1px solid var(--white-border);
}

.project-item__title {
  color: var(--black-text);
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  margin-bottom: 4px;
  text-align: left;
}

.project-item__text {
  color: var(--gray-text);
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: left;
}

.project-item__description {
  color: var(--white-text);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(33, 150, 243, 0.9)), to(rgba(33, 150, 243, 0.9)));
  background-image: linear-gradient(to right, rgba(33, 150, 243, 0.9), rgba(33, 150, 243, 0.9));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-item__link:hover .project-item__description {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

:root {
  --link-color: rgba(33, 150, 243, 1);
  --blue-text: rgba(33, 150, 243, 1);
  --black: rgba(0, 0, 0, 1);
  --black-text: rgba(33, 33, 33, 1);
  --gray-text: rgba(117, 117, 117, 1);
  --gray-light: rgba(255, 255, 255, 0.6);
  --white-text: rgba(255, 255, 255, 1);
  --white-background: rgba(255, 255, 255, 1);
  --grphite-background: rgba(47, 48, 58, 1);
  --button-background: rgba(245, 244, 250, 1);
  --button-active: rgba(24, 140, 232, 1);
  --footer-icon-background: rgba(255, 255, 255, 0.1);
  --gray-line: rgba(236, 236, 236, 1);
  --white-border: rgba(238, 238, 238, 1);
  --gray-border: rgba(175, 177, 184, 1);
  --gray-sprite: rgba(175, 177, 184, 1);
  --shadow: rgba(0px 2px 2px 0px 0, 0, 0, 0, 12),
    rgba(0px 1px 2px 0px 0, 0, 0, 0, 08), rgba(0px 3px 1px 0px 0, 0, 0, 0, 1);
  --project-gap: 30px;
  --submit-border: rgba(255, 255, 255, 0.3);
  --submit-text: rgba(255, 255, 255, 0.6);
  --social-line: rgba(33, 33, 33, 0.2);
}
/*# sourceMappingURL=main.css.map */