.features {
  margin-top: 60px;
  margin-bottom: 60px;

  @media screen and (min-width: 1200px) {
    margin-top: 94px;
    margin-bottom: 94px;
  }
}

.features-list {
  display: block;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--project-gap));
  }

  &__thumb {
    background-color: var(--button-background);
    padding: 25px 190px;

    @media screen and (min-width: 768px) {
      padding: 25px 142px;
      margin-bottom: 30px;
    }

    @media screen and (min-width: 1200px) {
      padding: 25px 100px;
      margin-bottom: 30px;
    }
  }

  &__title {
    color: var(--black-text);
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;

    line-height: 16px;
    letter-spacing: 0.03em;

    padding-bottom: 10px;
    text-align: center;

    @media screen and (min-width: 768px) {
      text-align: left;
    }
  }

  &__text {
    color: var(--gray-text);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  }
}
.features-list__items {
  &:not(:last-child) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - var(--project-gap));
    margin-left: var(--project-gap);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 4 - var(--project-gap));
    margin-left: var(--project-gap);
  }
}
