.hero {
  width: 480px;
  height: 400px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/Header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  padding-top: 118px;
  padding-bottom: 118px;

  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/Header_768.jpg");
    width: 768px;
    height: 400px;
  }

  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/Header_1200.jpg");
    width: 1600px;
    height: 600px;

    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  color: var(--white-text);
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 42px;
    width: 360px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 60px;
    width: 696px;
    text-align: center;
  }
}

.hero__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
