.join {
  margin-left: 70px;
  margin-top: 12px;
  margin-bottom: 40px;

  &__tittle {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--white-text);

    margin-bottom: 20px;
  }
}

.join-list {
  display: flex;
  justify-content: space-between;

  &__link {
    display: block;
    color: var(--white-text);
    width: 44px;
    height: 44px;
    padding: 12px;
    background-color: var(--footer-icon-background);
    border-radius: 50px;

    &:hover,
    &:focus {
      color: rgba(255, 255, 255, 1);
      background-color: var(--blue-text);
      border-radius: 50px;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &__item {
    margin-right: 10px;

    &:last-child {
      margin-right: 0px;
    }
  }

  &__icon {
    fill: currentColor;
  }
}
