.js-menu-container {
  padding: 48px 40px;
}

.menu-toggle {
}

.mobile-menu {
  margin-bottom: 302px;

  &__item {
    margin-bottom: 32px;

    &:last-child {
      margin-bottom: 0px;
    }
  }

  &__link {
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
    &:focus,
    &:hover,
    &:active {
      color: var(--blue-text);
      transform: scaleX(1);
      outline: none;
    }
  }
}

.mobile-contacts {
  margin-bottom: 62px;

  &__item {
    margin-bottom: 32px;

    &:last-child {
      margin-bottom: 0px;
    }
  }

  &__link {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;

    transform: scale(1.5);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover,
    &:active {
      color: var(--blue-text);
      outline: none;
    }
  }
}

.mobile-socials {
  display: flex;

  &__item {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid var(--social-line);

    &:last-child {
      margin-right: 0px;
    }
  }

  &__link {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: var(--link-color);

    &:focus,
    &:hover,
    &:active {
      color: var(--link-color);
      outline: none;

      font-style: normal;
      font-weight: 500;
      font-size: 34px;
      line-height: 40px;
    }
  }
}
