.subscribe {
  text-align: center;

  @media screen and (min-width: 768px) {
    justify-content: center;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 12px;
    margin-left: 93px;
  }

  &__tittle {
    color: var(--white-text);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    text-align: center;
    margin-top: 60px;
    margin-bottom: 20px;

    @media screen and (min-width: 1200px) {
      text-align: left;
      margin-top: 0px;
    }
  }
}

.subscribe-container {
  @media screen and (min-width: 1200px) {
    display: flex;
    position: relative;
  }

  &__button {
    /* у футері */
    @media screen and (min-width: 1200px) {
      margin-left: 12px;
    }
  }
}
